.watch-container {
    display: flex;
}

.headline {
    font-size: 70px;
}

.headline:hover {
    color: gray;
}

.product-details {
    font-size: 20px;
    margin: 20px;
    padding: 30px;
}

.watch-btn {
    color: royalblue;
    width: 120px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 40px;
    font-weight: 900;
    cursor: pointer;
}

.watch-btn:hover {
    background-color: royalblue;
    color: white;
}

.watch-img {
    height: 90vh;
}

.reviews-headline {
    color: royalblue;
    font-size: 40px;
    margin: 50px;
    padding-top: 40px;
}

.reviews-headline:hover {
    color: orange;
}

.reviews-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px
}

.review-all-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: royalblue;
    color: white;
    width: 320px;
    height: 40px;
    border: 1px solid gray;
    border-radius: 40px;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

.review-all-btn:hover {
    color: orangered;
    background-color: white;
}