.navbar {
    background-color: royalblue;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.nav-btn {
    color: whitesmoke;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;

}

.active-nav-btn {
    color: orange;
    text-decoration: none;
    margin-right: 30px;
    margin-left: 30px;
    text-transform: uppercase;
    font-size: 20px;

}

.nav-btn:hover {
    color: orange;
    font-size: 22px;

}